@charset "UTF-8";
$color-default: #494949;
$color-main: #409EFF;
$color-bg: #F0F2F5; 
$color-white: #ffffff;
$color-black: #333333;
$color-gray: #666666;
$color-gray-medium: #999999;
$color-gray-silver: #C0C0C0; // 次要按钮边框+输入框中提示文字
$color-gray-light: #E5E5E5; // 分割线+边框

$color-white-gray: #FAFAFA; // 白灰色(偏白)

//$color-table-title: #F2F2F2; // 表头颜色
$color-table-title: #f5f7fa; // 表头颜色


$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;